.todo {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 2rem;
  box-shadow: 0 0.4rem 0 var(--color-primary-accent);
  background: var(--color-primary);
  color: var(--color-text-light);
  padding: 1rem 1.5rem;
}

.title {
  font-size: 2rem;
}

.done {
  background: var(--color-secondary);
  box-shadow: 0 0.4rem 0 var(--color-secondary-accent);
  color: var(--color-text-dark);
}
